

.cookieContainer{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}

.cookiePhrase{
   font-style: italic;
  font-family: 'Georgia', serif;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: #374151;

}
.cookieContainer :global(.vtex-button) {
    background-color: #cd8f4d;
    border: none;
    color: white;
    border-radius: 24px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
    transition: transform 0.2s ease;
    cursor: pointer;
    font-style: normal;
}

.cookieContainer :global(.vtex-button):hover {
  transform: scale(1.05);
  background-color: #fbbf24;
}

.luckyNumber{
   font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #9ca3af;
}