.flexRow--home-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.flexCol--home-col {
  padding: 1rem;
}

.flexRow--fortune-wrapper {
   display: flex;
  justify-content: center;   /* o space-around/space-between si preferís */
  align-items: flex-start;    /* <-- alinea los items desde arriba */
  padding: 4rem 2rem;
  background-color: white;
  gap: 2rem;   
}


.flexCol--fortune-content {
  flex: 0 0 400px;          
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flexCol--fortune-image,
.image--fortune-image {     
  flex: 0 0 400px;           
  max-width: 400px;
}
/*footer*/
.flexRow--footer-row {
  background-color: #f0f0f0;
  padding: 2rem;
  color: black;
}
.flexColChild--footer-logo {
  align-content: center;
}
.flexColChild--footer-links {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.flexCol--footer-logo,
.flexCol--footer-copy {
  display: flex;
  align-items: center;
}

.flexRow--footer-links-row {
  display: flex;
  width: 100%;
}

.flexRow--footer-links-row :global(.vtex-store-link-0-x-label--footer-link) {
  flex: 1;  
  text-align: center; 
  white-space: nowrap; 
  color: black;
}

@media(max-width:767px){
  
  .flexColChild--footer-logo {
    position: relative;
    bottom: 10px;
  } 
  
}